/********기본 설정***********/
* {margin: 0; padding:0;}
body {margin: 0 auto;}
li {list-style: none;}
a {text-decoration: none;}
img {border: 0;}

@font-face {
    font-family: "sindinaru";
    src: url("sindinaruM.ttf") format('truetype');
}

.page{
    margin: 0 auto;
    position: relative;
    display: none;
}

.stagePage{
    margin: 0 auto;
    position: relative;
    display: none;
}

.gamePage{
    margin: 0 auto;
    position: relative;
    display: none;
}

.outroPage{
    margin: 0 auto;
    position: relative;
    display: none;
}

.background{
    height: 100vh;
    margin: 0 auto;
    display: block;
}

.banner{
    position: absolute;
    top: 2%;
    left: 35%;
}

p{
    font-family: "sindinaru";
    color: #837156;
}

/******시작화면********/
#startPage{
    display: block;
    margin: 0 auto;
    position: relative;
}

video{
    height: 100vh;
    margin: 0 auto;
    display: block;
}

#startLOGO{
    position: absolute;
    top: 22%;
    left: 36%;
}

#methodButton{
    position: absolute;
    top: 77%;
    left: 25%;
}

#startButton_h{
    position: absolute;
    top: 77%;
    right: 25%;
}


/*******방법 설명 화면********/
#methodText_1{
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 27%;
    left: 31%;
}

#methodText_2{
    position: absolute;
    font-size: 40px;
    top: 72%;
    left: 29%;
}

#methodImg{
    position: absolute;
    top: 67%;
    left: 16%;
}

#startButton_m{
    position: absolute;
    top: 82%;
    right: 12%;
}


/********레벨선택화면**********/
#levelTable{
    position: absolute;
    top: 38%;
    left: 18%;
}

.leaf{
    padding: 0 120px;
}
.levelText{
    text-align: center;
    font-size: 68px;
    padding: 40px 0;
    text-shadow: none;
}

/*********스테이지 선택화면*********/

/*******스토리화면********/
/*
A: 캐릭터가 말하는 말풍선
arrow: 다음으로 넘어가는 역삼각형
ST: StoryText: 나의 대답에 관련된 클래스
B: 나의 대답이 출력되는 말풍선
*/
.A{
    position: absolute;
    top: 63%;
    left: 24%;
}

.arrow{
    position: absolute;
    top: 90%;
    left: 49%;
}

.ST{
    position: absolute;
    font-size: 36px;
    top: 47%;
    left: 60%;
}
.ST p{
    padding: 24px 0;
}

.B{
    position: absolute;
    top: 41%;
    left: 57%;
}

/*******medium-story*******/
#phone_C{
    position: absolute;
    top: 72%;
    left: 24%;
}

#phone_A{
    position: absolute;
    top: 72%;
    left: 35%;
}

#MediumStory1-1 p{
    position: absolute;
    background-color: yellow;
    display: none;
    top: 70%;
    left: 20%;
}

#goodButton{
    position: absolute;
    top: 69%;
    left: 43%;
}

/*****결과창*****/
#itemBox{
    display: none;
}

/*****캐릭터 결과창*****/
.wearItem{
    display: none;
}